# Tools For Data Science - Final Assignment - IBM

## Exercise 1: Create a Jupyter Notebook

#### Create a new Jupyter notebook called DataScienceEcosystem.ipynb

In [1]:
# Notebook created and named DataScienceEcosystem.ipynb

## Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

## Exercise 3 - Create a markdown cell for an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

# Exercise 4 - Create a markdown cell to list data science languages

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Exercise 5 - Create a markdown cell to list data science libraries

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-learn

# Exercise 6 - Create a markdown cell with a table of Data Science tools


|Data Science Tools|
|--------------------|
| Jupyter Notebook |
| RStudio |
|GitHub|
|GitLab |

# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

### Below are a few examples of evaluating arithmetic expressions in Python

# Exercise 8 - Create a code cell to multiply and add numbers

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

# Exercise 9 - Create a code cell to convert minutes to hours

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
minutes_to_hours = 200 / 60
print (minutes_to_hours)

3.3333333333333335

# Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**
  
***List of popular languages in data science***
- Python
- SQL
- R

# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author 
Russel Chandanshiv